<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <input type= "checkbox">
  <%= link_to "#{task.title}", task_show_path(task.id) %> |
  <%= link_to  "Delete", task_delete_path(task.id), method: :delete %></br>
  <% end %>
</ul>

<%= link_to "Add a new task", tasks_new_path %>
